body {
    text-align: center;
}

.library-container {
    padding: 25px;
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 180px) ) ;
    gap: 15px;
    justify-content: center;
    margin: 30px auto;
    max-width: 900px;
}

.card {
    height: 230px;
    background-color: rgb(56, 56, 56);
    color: cornsilk;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.author {
    font-size: 0.9rem;
    margin-bottom: 12px;
}

.pages, .state {
    font-weight: 300;
    font-size: 0.7rem;
}

.card-container {
    margin-top: auto;
    display: flex;
    align-items: flex-end;
}

.state {
    text-align: left;
    margin-right: auto;
}

i {
    font-size: 1rem;
    margin-left: 10px;
}

.form-page {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.hidden {
    display: none;
}

form {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 250px;
    padding: 25px;
    background-color: darkcyan;
    top: 50%;
    left: 50%;
    margin-top: -240px;
    margin-left: -125px;
    box-sizing: border-box;
    font-family: "Roboto", "Arial", sans-serif;
    color: cornsilk;
    border-radius: 5px;
    z-index: 2;
}

input {
    width: 100%;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 5px;
    margin: 4px 0 12px;
}

.radio-container {
    text-align: left;
}

.input-container {
    margin-top: 1px;
}

input[type=radio] {
    position: absolute;
    top: auto;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    white-space: nowrap;
}

input[type=radio] + label::before {
    content: '';
    background-color: rgb(255, 255, 255);
    display: inline-block;
    width: 0.9em;
    height: 0.9em;
    cursor: pointer;
    margin-top: .2em;
    vertical-align: top;
}

input[type=radio] + label {
    cursor: pointer;
}

input[type=radio] + label::before {
    border-radius: 50%;
}

input[type=radio]:checked + label::before {
    background-color: rgb(56, 56, 56);
    box-shadow: inset 0 0 0 .2em rgb(255, 255, 255);
}

button {
    border: none;
    background-color: rgb(56, 56, 56);
    color: white;
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 5px;
    font-family: "Roboto", "Arial", sans-serif;
}

button:hover {
    background-color: rgb(88, 88, 88);
}

button, i {
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.button-container button {
    width: 48%;
}
